<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name = "apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="pragma" content="no-cache"/> 
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/> 
    <meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="viewport" content="user-scalable=0, initial-scale=1, maximum-scale=1, minimum-scale=1,target-densitydpi=device-dpi" />
	<link rel="apple-touch-icon" href="images/Icon.png" />
	<link rel="shortcut icon" href="images/Icon.png">
     
	<style>
		.tab{margin-left:30px;}
	
	</style>

	<title>BitcoinDark Simple Information</title>
  </head>
  <body>
		<span><h2>BitcoinDark - Simple Information Server</h2></span>
		
		<div>
			<span><h4>Usage:</h4></span>
			<span>/totalbtcd -- returns total number of BitcoinDark in existence</span><br />
			<span>/blockcount -- returns current block height</span><br />
			<span>/difficulty -- returns current PoW and PoS difficulty</span><br />
			<span>/gettx/<%= "<txid>" %> -- returns information about this transaction</span><br />
			<span>/getblockhash/<%= "<index>" %> -- returns the requested block hash</span><br />
			<span>/getblock/<%= "<hash>" %> -- returns information about this block</span><br />
			
			<p />
			
		</div><p /><p />
		<div>
			<span>Donations:</span><br />
			<span class="tab">RKYdwr66HGjtaV3GapTTXnBqJ8DRcxbMbD</span><br />
			<span class="tab">1PuhR83yykTsjhgqraY8A6X4YKSeUgCk7J</span>
		</div>
  </body>
</html>